#nesto {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/digit-2022.appspot.com/o/swirl.png?alt=media&token=cb611c7e-ff71-4d89-b947-172010d2ee86");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 0px;
}
#nestodrugo {
    padding:20px;
    font-family: "Times New Roman", Times, serif;
}